
body {
margin:0 0 0 0;

}

div.wrap{
width:1000px;
margin-left:10px;
}

div.header{
height:100px;
border:1px solid black;
padding:0;
}

h1{
padding-top:0px;
margin-top:0px;
height:20;
}
h3{
padding-top:0px;
padding-bottom:0px;
margin:0px;
}
a.headerbutton{

}

ul.navbut{
display:inline;
margin:0;
padding:0;
padding-left:5px;
}

li.navbut{
display:inline;
}

a.titlebutton{

}

img.lecturethumb{
float:left;
width:50;
height:50;
}

div.middle{
padding:5px;
height:400px;
}

div.col1{
width:640px;
float:left;

}

div.about{
border:1px solid black;
margin-bottom:5px;
padding:5px;
}
div.next{
padding:5px;
border: 1px solid black;
}
div.nexttitle{
 background-color:#D6D6D6;
 width:630px;
 height:55px;
 clear:both;
 margin-bottom:5px
}
div.nexttitletext{
float:left;
padding-top:5px;
margin-left:5px;
}
div.nextabstract{
}
div.nextinfo{
}

div.upcoming{
border: 1px solid black;
width:340px;
float:right;
}
div.upcomingtitle{
height:50px;
}
h4{
margin:0;
padding:0;
}
div.upcominglist{
}

div.footer{
margin-top:5px;
border: 1px solid black;
clear:both;
}

