
body {
margin:0 0 0 0;


}

div.wrap{
width:1000px;
margin-left:20%;
background-color:#F2F2F2;
height:100%;
}

div.header{
padding:0;
padding-bottom:15px;
}

h1{
font-family:palatino;
font-size:300%;
padding-top:0px;
padding-left:5px;
margin-top:10px;
margin-bottom:10px;
}
h3{
padding-top:0px;
padding-bottom:0px;
margin:0px;
}
a.headerbutton{
font-size:120%;
font-family:palatino;
color:white;
background-color:black;
height:70px;
padding-left:15px;
padding-right:15px;
padding-top:5px;
padding-bottom:5px;
}

a.headerbutton:hover{
background-color:#8C2626;
}

ul.navbut{
display:inline;
margin:0;
margin-top:5px;
padding:0;
padding-left:5px;
}

li.navbut{
font-family:palatino;
display:inline;
height:50px;
}

a.titlebutton{

}

img.lecturethumb{
float:left;
width:50;
height:50;
margin:5px;
}

img.headlogo{
float:right;
clear:none;

}

div.middle{
padding:5px;
height:400px;
}

div.col1{
width:640px;
float:left;

}

div.about{
border:1px solid black;
margin-bottom:5px;
padding:5px;
}
div.next{
padding:5px;
border: 1px solid black;
background-color:#E6E6E6;
}
div.nexttitle{
 background-color:#B5B5B5;
 height:60px;
 clear:both;
 margin-bottom:5px
}
div.nexttitletext{
float:left;
padding-top:10px;
padding-left:5px;
}
div.nextabstract{
padding-left:10px;
padding-right:10px;
padding-bottom:10px;
}
div.nextinfo{
padding-left:5px;

padding-top:2px;
background-color:#B5B5B5;

}

div.upcoming{
border: 1px solid black;
width:340px;
float:right;
}
div.upcomingtitle{
height:50px;
}
h4{
margin:0;
padding:0;
}
div.upcominglist{
}

div.footer{
margin-top:5px;
border: 1px solid black;
clear:both;
}

